<app-header></app-header>
<main class="page-content">

  <user-bar *ngIf="account" [(language)]="account.language" [(username)]="account.username"></user-bar>

  <div class="row">

    <div class="small-4 columns" *ngFor="let runnable of runnables; let i = index;">
      <div class="app-launcher {{runnable.id.substring(0, runnable.id.includes('@') ? runnable.id.indexOf('@') : runnable.id.length)}}"
           [ngClass]="{'is-pressed': runnable.isPressed, 'is-running': runnable.isRunning}" (click)="runAppOnce($event, runnable)"
           (mouseup)="runnable.isPressed=false"
           (mousedown)="runnable.isPressed=true">
        <!--(touchstart)="runnable.isPressed=true"-->
        <!--(touchend)="runnable.isPressed=false"-->
      </div>
      <h5>{{"APPS." + runnable.name | uppercase | translate}}</h5>
    </div>

  </div>
</main>
<pop-up (onCancel)="cancelLogin()" (onConfirm)="confirmLogin()" *ngIf="!hidePopUp"></pop-up>
<app-footer></app-footer>